body
{
    margin:0;
    font-family:Arial sans-serif;
    font-size:20px;
}

#menu-wrapper ul{
    padding:0;
    list-style:none;
}

#menu > li{
    display:inline-block;
}

#menu > li > a{
    display: block;
    padding: 10px 5px;
    width: 90px;
}

li ul{
    position:absolute;
    display: none;
}

.sub-menu a{
    display:block;
    padding:10px 5px;
    width:130px;
}

li:hover ul{
    display:block;
}

#menu-wrapper, li ul{
    background:#333;
}

#menu{
    width:412px;
    margin: 0 auto;
}

#menu a{
    color:#fff;
    text-decoration:none;
    font-weight: bold;
}

#menu li:hover{
    background:#a3cd39;
    text-shadow: 0 0 2px #000;
}